<!doctype html>
{% extends "base.html" %}
{% block title %}Administrator Panel{% endblock %}

{% block content %}
    <h1>Admin Settings</h1>
    <hr>

    <form role="form" method="POST">
    {% if not daemon_running %}
        <input type="hidden" name="start">
        <button type="submit" class="btn btn-success">Start Daemon</button>
    {% else %}
        <input type="hidden" name="stop">
        <button type="submit" class="btn btn-danger">Stop Daemon</button>
    {% endif %}
    </form>


    <h2>Users</h2>

    <form role="form" method="POST">
        <table class="table table-striped">
            <thead>
                <th>Display name</th>
                <th>Email</th>
                <th class="text-center">Account activated?</th>
                <th class="text-center">Administrator account?</th>
                <th class="text-center">Delete account</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.get_display() }}</td>
                        <td>{{ user.get_email() }}</td>

                        <input type="hidden" name="{{ 'active' ~ user.get_user_id() }}.hidden" value="0">
                        <td class="text-center"><input type="checkbox" name="{{ 'active' ~ user.get_user_id() }}" id="{{'active' ~ user.get_user_id() }}" {% if user.is_active() %}checked{% endif %} onchange="javascript:toggle();" value="1"></td>

                        <input type="hidden" name="{{ 'admin' ~ user.get_user_id() }}.hidden" value="0">
                        <td class="text-center"><input type="checkbox" name="{{ 'admin' ~ user.get_user_id() }}" id="{{'admin' ~ user.get_user_id() }}" {% if user.is_administrator() %}checked{% endif %} onchange="javascript:toggle();" value="1"></td>

                        <td class="text-center"><button type="button" class="btn btn-danger" id="{{ 'delete' ~ user.get_user_id() }}" data-toggle="modal" data-target="#confirmDeleteModal" onclick="setupDeleteModal('{{ user.get_display() }}')">Delete</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="col-md-12 col-lg-12">
            <span class="pull-right hidden" id="hidebuttonbottom">
                <button type="submit" class="btn btn-success">Save changes</button>
            </span>
        </div> <!-- col-md-12 -->
    </form>
{% endblock %}

{% block scripts %}
<script language="JavaScript">
function startPokerDaemon() {
    
}

function toggle() {
    $("#hidebuttontop").removeClass("hidden");
    $("#hidebuttonbottom").removeClass("hidden");
}

function setupDeleteModal(name) {
    $('#acct_name').html(name);
    $('#confirmDeleteButton').attr('href', '/account/delete/' + name);
}

//The following lines make sure the admin can't delete their own account
my_id = {{ current_user.get_user_id() }};
$('#admin' + my_id).attr("disabled", true);
$('#delete' + my_id).attr("disabled", true);
</script>
{% endblock %}

{% block modals %}
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledBy="confirmDeleteModal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Are you sure?</h3>
            </div> <!-- modal-header -->

            <div class="modal-body">
                <p>Are you sure you wish to delete '<span id="acct_name"></span>'?</p>
                <p>This action cannot be reversed.</p>
            </div> <!-- modal-body -->

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a id="confirmDeleteButton" class="btn btn-danger btn-ok">Confirm Delete</a>
            </div> <!-- modal-footer -->
        </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal -->
{% endblock %}
