{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
<head>
{%- block head %}
<title>{% block title %}ACM Poker Server{% endblock title %}</title>
<link rel="icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">

{%- block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{%- endblock metas %}

{%- block styles %}
<!-- Bootstrap -->
<link rel="stylesheet" href="{{ bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap') }}" media="screen">
<!--link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.cerulean.min.css') }}"-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.lumen.min.css') }}">
{%- endblock styles %}
{%- endblock head %}
</head>

<body{% block body_attribs %}{% endblock body_attribs %}>
{% block body -%}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ACM Poker Server</a>
        </div> <!-- navbar-header -->

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="/api">API</a></li>
                <li><a href="/tables">Tables</a></li>
                <li><a href="/scoreboard">Scoreboard</a></li>
                {% if current_user.is_authenticated() %}
                    <li><a href="/account">My Account</a></li>
                    {% if current_user.is_administrator() %}
                        <li><a href="/admin">Administrator Controls</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="" data-toggle="modal" data-target="#loginModal">Login</a></li>
                    <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>

            <!-- Right side of the navbar -->
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                    <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </div> <!-- collapse navbar-collapse -->
    </div> <!-- container-fluid -->
</nav> <!-- nav -->

{% block navbar %}
{%- endblock navbar %}

<div class="container">
    <div class="row">

    {% if error %}
    <br>
    <div class="container">
        <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">&times;</a>
            <strong>Error:</strong> {{ error }}
        </div>
    </div>
    {% endif %}

    {% block content -%}
    {%- endblock content %}
    </div>
</div>

{% block scripts %}
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
{%- endblock scripts %}

{% block modals %}
<div class="modal fade" id="loginModal" role="dialog" aria-labelledby="loginModal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Login</h3>
            </div> <!-- modal-header -->
            <div class="modal-body">
                <form method="POST" action='/login'>
                    <p><input type="text" class="span3" name="username" id="username" placeholder="Username"></p>
                    <p><input type="password" class="span3" name="password" id="password" placeholder="Password"></p>
                    <p><input type="checkbox" class="span3" name="remember" value="remember">Remember Me</p>
                    <p><button type="submit" class="btn btn-primary">Sign in</button>
                    <a href="/reset_password">Forgot Password?</a>
                    </p>
                </form>
            </div> <!-- modal-body -->
            <div class="modal-footer">
                Need an account?
                <a href="#" class="btn btn-primary">Register</a>
            </div> <!-- modal-footer -->
        </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal -->
{%- endblock modals %}

{%- endblock body %}
</body>
{%- endblock html %}
</html>
{% endblock doc -%}
