<!doctype html>
{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>
    <form method="POST">
        <input type="text" placeholder="Display name" name="display" value="{{request.form.display }}"><br>
        <input type="text" placeholder="Username" name="username" value="{{request.form.username }}"><br>
        <input type="password" placeholder="Password" name="password" value="{{request.form.password }}"><br>
        <input type="password" placeholder="Confirm password" name="confirm" value="{{request.form.confirm }}"><br>
        <input type="text" placeholder="Email address" name="email" value="{{request.form.email }}"><br>
        <input class="btn btn-default" type="submit" value="Login">
    </form>
{% endblock %}
